:root {
  --burnt-brown: #734444;
  --terracotta: #c37857;
  --lime: #eeedbe;
  --plant-green: #99b27f;
  --white: #fcfefe;
  --black: #1d1716;
  --matcha: #c3d69f;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

header {
  background-color: #734444;
  color: white;
  text-shadow: 1px 1px 2px var(--black);
  /* text-align: center; */
  width: 100%;
  height: 200px;
  /* margin: 0;
 padding: 0; */



}

.logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* section {
  background-color: #734444;
} */
h1 {
  font-size: 40px;
}

h2 {
  background-color: #99b27f;
  font-size: 30px;
  color: black;
  text-align: center;


}

.theme-img {
  height: 200px; 
  width: 100%;
  background-image: url("../images/Single_tungsten.png");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;



}

label {
  font-size: 25px;
}

body {
  
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #c37857;

}

input {
  width: 57%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}
input[type=text],
select {
  width: 57%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
}

input[type=submit] {
  width: 57%;
  background-color: #eeedbe;
  font-family: "Shadows Into Light", cursive;
  
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}



input[type=submit]:hover {
  background-color: #c3d69f;
  ;
  font-family: "Shadows Into Light", cursive;
    color: black;

}



.parent-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  
}
form {
  padding: 75px;
}

.avatar-woman-image {
  width: 100%;
  padding: 0;

}

.ui-helper-hidden-accessible{
  display:none !important;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}