:root {
  --burnt-brown: #734444;
  --terracotta: #c37857;
  --lime: #eeedbe;
  --plant-green: #99b27f;
  --white: #fcfefe;
  --black: #1d1716;
  --matcha: #c3d69f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--terracotta);
  color: var(--black);
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  font-family: "Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 25px;
  background-color: var(--burnt-brown);
  color: white;
  text-shadow: 1px 1px 2px var(--black);
  display: flex;
  justify-content: center;
}

#search-form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--plant-green);
}

button {
  background-color: var(--lime);
  color: var(--black);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  border: var(--plant-green);
}

button:hover {
  background-color: var(--matcha);
}

.top-filter {
  background-color: var(--plant-green);
  width: 100%;
  padding: 10px;
}

div form select {
  background-color: var(--lime);
  color: var(--black);
  font-family: "Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  position: relative;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  border: var(--plant-green);
}

div form select:hover {
  background-color: var(--matcha);
}

.go-home {
  color: var(--white);
  font-size: 20px;
  font-weight: 550;
  text-shadow: 1px 1px 2px var(--black);
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-left: 40px;
}

/*======= Containers with Yelp API Results======*/

#result-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.card {
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container {
  padding: 15px;
}

.container h4 {
  margin: 0;
  color: #333;
}

/*================INPUT UPDATE CSS====================*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
